In [514]:
import pandas as pd
import numpy as np
import schedule
import psycopg2
import psycopg2.extras as extras
from sqlalchemy import create_engine
from scipy import stats
import datetime
import datetime as dt


"""
連接 sql 引擎
"""
host='database-1.cyn7ldoposru.us-east-1.rds.amazonaws.com'
port='5432'
user='Yu'
password='m#WA12J#'
database="JQC_Revenue1"

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
        user, password, host, port, database), echo=True)

db = pd.read_sql('monthly_revenue', engine).drop('index', axis=1)
db[['year', 'month']] = db.rev_period.str.split('/', expand=True)
print('完成DB撈資料', datetime.datetime.now())


"""
function
"""
def get_ratio(data):
    ttl_rev = data.rev.sum() / len(data) * 12
    data['ratio'] = round(data.rev/ttl_rev, 4)
    return data

def get_yoy(data):
    data.year = data.year.astype(int)
    data = data.sort_values('year')
    if data.rev.head(1).isnull== True:
        data['yoy％'] = 100
    else:
        data['yoy％'] = round(data.rev.diff()/data.rev.shift(1) * 100, 2)
    return data
    
def get_avg_ratio(data):
    if len(data) >= 5:
        weight = [1, 1, 1, 3, 5]
        roll_num = len(weight)
        data = data.sort_values('year').reset_index(drop=True, inplace=False).tail(roll_num + 1).head(roll_num)  # 抓到最後一年的前 n 年，n 隨權重年份個變
        return round(np.average(data.ratio, weights = weight), 4)
    
    elif len(data) == 4:
        weight = [1, 1, 2, 3]
        roll_num = len(weight)
        data = data.sort_values('year').reset_index(drop=True, inplace=False).tail(roll_num + 1).head(roll_num)  # 抓到最後一年的前 n 年，n 隨權重年份個變
        return round(np.average(data.ratio, weights = weight), 4)
    
    elif len(data) == 3:
        weight = [1, 1, 2]
        roll_num = len(weight)
        data = data.sort_values('year').reset_index(drop=True, inplace=False).tail(roll_num + 1).head(roll_num)  # 抓到最後一年的前 n 年，n 隨權重年份個變
        return round(np.average(data.ratio, weights = weight), 4)
    
    elif len(data) <= 2:
        return round(np.nanmean(data.ratio), 4)

ratio_df = pd.DataFrame(db['month'].unique()).rename({0:'month'}, axis=1)

def get_month_rev_predict_for_nxt_year(data):
#     print(data.st_code.head(1).values[0])
    if data.shape[0] >= 12:
        data = data.groupby('year').apply(get_ratio)
        ratio = data.groupby('month', as_index=False).apply(get_avg_ratio).set_axis(['month', 'wt_avg_ratio'],axis=1)
        data = pd.merge(data, ratio, on='month', how='outer').sort_values('rev_period').reset_index(drop=True,inplace=False).tail(12)
        predict_avg_annual_rev = round((data.rev/data.wt_avg_ratio).mean(), 4)
        data['rev'] = round(data.wt_avg_ratio * predict_avg_annual_rev, 2)
        data.year = data.year.astype(int) + 1
        data.rev_period = '* '+ data.year.astype(str) + '/' + data.month
        data = pd.concat([db[db.st_code == data.st_code.head(1).values[0]].tail(12), 
                          data], axis=0)
        data = data.groupby('month', as_index=False).apply(get_yoy)
        data['mom％'] = round(data.rev.pct_change(1) * 100, 2)
        return data.sort_values('rev_period').head(1)
    else:
        data = data.groupby('year').apply(get_ratio)
        ratio = data.groupby('month', as_index=False).apply(get_avg_ratio).set_axis(['month', 'wt_avg_ratio'],axis=1)
        ratio_len = ratio.month.shape[0]
        ratio = pd.merge(ratio_df, ratio, on='month', how='left').sort_values('month')
        ratio.wt_avg_ratio = ratio.wt_avg_ratio.fillna(round((1 - ratio.wt_avg_ratio.sum())/(12-ratio_len), 4))
        data = pd.merge(data, ratio, on='month', how='outer').sort_values('rev_period').reset_index(drop=True,inplace=False).tail(12)
        data[['st_code', 'st_name', 'year']] = data[['st_code', 'st_name', 'year']].fillna(method='pad')
        data.year = np.where(data.rev_period.isna() == False, data.year.astype(int) + 1, data.year)
        data.rev_period = '* ' + data.year.astype(str) + '/' + data.month
        predict_avg_annual_rev = round(np.nanmean(data.rev/data.wt_avg_ratio), 4)
        data['rev'] = round(data.wt_avg_ratio * predict_avg_annual_rev, 2)
        data = pd.concat([db[db.st_code == data.st_code.head(1).values[0]].tail(12), 
                          data], axis=0)
        data = data.groupby('month', as_index=False).apply(get_yoy)
        data['mom％'] = round(data.rev.pct_change(1) * 100, 2)
        return data.sort_values('rev_period').head(1)
    
print('完成讀function', datetime.datetime.now())

"""
整理營收worksheet
"""
update = pd.read_excel('/Users/yuchun/Revenue/tej_revenue_update.xlsm', 
                       sheet_name='工作表2', 
                       usecols=[3, 4, 5, 6, 7, 8], 
                       header=6)
update[['代號', '名稱']] = update['代號 名稱'].str.split(' ',expand=True).drop(2, axis=1)
update = update[update.iloc[:, 2].isna() == False]
update = update.rename({'【1】年月':'rev_period', 
                        '【4】單月營收成長率％':'yoy％', 
                        '【5】單月營收與上月比％':'mom％'}, axis=1)
update.iloc[:, 1] = pd.to_datetime(update.iloc[:, 1], format='%Y%m').dt.strftime('%Y/%m')
update.iloc[:, 2] = pd.to_datetime(update.iloc[:, 2], format='%Y%m%d').dt.strftime('%Y/%m/%d')
update.iloc[:, 3] = round(update.iloc[:, 3]/1000, 2)


"""
每月最新營收公布狀況
"""
latest = update.loc[:, ['代號', '名稱','【2】營收發布日', 
                        '【3】單月營收(千元)', 'yoy％','mom％']]
latest = latest.rename({'【2】營收發布日':'營收發布日', 
                        '【3】單月營收(千元)':'營收(百萬)'
                       }, axis=1).sort_values('yoy％', ascending=False)
latest_period = update.rev_period.head(1).values[0]
# latest_filename = latest_period + '最新營收公布.csv'
latest.to_csv('/Users/yuchun/Revenue/Web2/models/最新營收公布.csv',
              encoding='utf_8_sig', header=True, index=False)
# 完成最新營收更新csv
print('完成最新營收更新csv', datetime.datetime.now())


update = update.rename({'代號':'st_code', '名稱':'st_name',
                        '【2】營收發布日':'release_date', 
                        '【3】單月營收(千元)':'rev'}, axis=1)
update[['year', 'month', 'day']] = update['release_date'].astype(str).str.split('/', expand=True)

order = db.columns.values.tolist()
update = update[order]
update = update[~update.st_code.isin(db[db.rev_period == latest_period].st_code)]


"""
僅上傳新增的部分
"""
if update.shape[0] == 0:
    predict_nxt_month = db
else:
    update.to_sql('tej_revenue', engine, if_exists='append')
    predict_nxt_month = pd.concat([db, update], axis=0)

predict_nxt_month.to_pickle('/Users/yuchun/Revenue/Web2/models/營收db.pkl')
print('完成上傳新增的營收資訊', datetime.datetime.now())


"""
預估次月營收
"""
predict_order = db.columns.values.tolist()
predict_order.remove('release_date')
predict_order.remove('year')
predict_order.remove('month')

predict_nxt_month = predict_nxt_month.groupby('st_code', as_index=False).apply(get_month_rev_predict_for_nxt_year)
predict_nxt_month = predict_nxt_month[predict_order].reset_index(drop=True)
predict_nxt_month = predict_nxt_month.rename({'st_code':'代號', 'st_name':'名稱', 'rev':'營收(百萬)'}, axis=1)
# predict_nxt_month_filename = predict_nxt_month.rev_period.head(1).values[0][2:] + '營收預估.csv'
predict_nxt_month.to_csv('/Users/yuchun/Revenue/Web2/models/營收預估.csv',
                         encoding='utf_8_sig', 
                         header=True, 
                         index=False)
# 完成最新預估營收csv完整的
print('完成最新預估營收csv完整的', datetime.datetime.now())


"""
不同分類的預估營收名單： CB/個股期/濾產業的

### 個股期 ###
st_future = pd.read_sql("個股期歷史資料（近月及近二月）", engine)
st_future = st_future.sort_values('日期').drop_duplicates(subset='標的證券', keep='last')
st_future['st_code'] = st_future['標的證券'].str[:4]
# predict_nxt_month_futures = predict_nxt_month[predict_nxt_month['代號'].isin(st_future.st_code)]
st_future[st_future['日期'] == st_future['日期'].drop_duplicates().tail(1).values[0]].st_code.to_pickle("/Users/yuchun/Revenue/Web2/models/st_futures.pkl") 
print('完成個股期部分', datetime.datetime.now())


### 可轉債 ###
cb = pd.read_html('https://www.tpex.org.tw/web/bond/bonds_info/daily_trade/NewCb3itrade.php?l=zh-tw', encoding='utf_8')[0]
cb.columns = [''.join(col) for col in cb.columns.values]
cb = cb.rename({'代號代號':'代號', '名稱名稱':'名稱'}, axis=1)
# predict_nxt_month_cb = predict_nxt_month[predict_nxt_month['代號'].isin(cb['代號'].astype(str).str[:4]) == True]
cb['代號'].astype(str).str[:4].to_pickle('/Users/yuchun/Revenue/Web2/models/cb.pkl')
print('完成可轉債部分', datetime.datetime.now())


### 過濾產業 ###
# industry = pd.read_sql('full_industry', engine).drop('index', axis=1)
filtered = industry[(industry['交易所產業分類'] != 'M1722 生技醫療') & 
                    (industry['交易所產業分類'] != 'M2326 光電業') &
                    (industry['交易所產業分類'] != 'M2331 其他電子業') &
                    (industry['交易所產業分類'] != 'M2500 建材營造') &
                    (industry['交易所產業分類'] != 'M2600 航運業') &
                    (industry['交易所產業分類'] != 'M2800 金融業') &
                    (industry['交易所產業分類'] != 'M2900 貿易百貨') &
                    (industry['交易所產業分類'] != 'M3200 文化創意業') &
                    (industry['TEJ產業分類'] != 'M25A 建設')
                   ]
# predict_nxt_month_filtered = predict_nxt_month[predict_nxt_month['代號'].isin(filtered.st_code.astype(str)) == True]
filtered.st_code.astype(str).to_pickle('/Users/yuchun/Revenue/Web2/models/filtered.pkl')
print('完成過濾產業', datetime.datetime.now())
"""

"""
更新個股每日收盤資訊
"""
daily_trading_db = pd.read_sql('stock_daily_trading', engine).sort_values(['date', 'st_code'])
daily_trading_db = daily_trading_db.drop_duplicates()
daily_trading_db.date = pd.to_datetime(daily_trading_db.date).dt.strftime('%Y/%m/%d')

if (datetime.datetime.now().hour >= 15):
    try:
        today = datetime.datetime.today().strftime("%Y/%m/%d")
        otc_year = datetime.datetime.today().year - 1911
        otc_date = str(otc_year) + '/' + datetime.datetime.today().strftime("%Y/%m/%d")[5:]
        tse_date = ''.join(datetime.datetime.today().strftime("%Y/%m/%d").split('/'))

        tse_url = 'https://www.twse.com.tw/rwd/zh/afterTrading/MI_INDEX?date=' + tse_date + '&type=ALLBUT0999&response=html'
        otc_url = 'https://www.tpex.org.tw/web/stock/aftertrading/otc_quotes_no1430/stk_wn1430_result.php?l=zh-tw&o=htm&d=' + otc_date + '&se=EW&s=0,asc,0'
        tse = pd.read_html(tse_url)[-1]
        otc = pd.read_html(otc_url)[0]
        tse.columns = tse.columns.droplevel(level=0)
        otc.columns = otc.columns.droplevel(level=0)
        otc = otc[otc['次日漲停價'].isna() == False]             # 把總共筆數刪掉

        otc['date'] = today
        tse['date'] = today

        otc = otc.loc[:, ['代號','名稱','date','開盤','最高','最低','收盤','成交股數']]
        otc = otc.set_axis(['st_code', 'st_name', 'date', 'open', 'high', 'low', 'close', 'volume'], axis=1)
        tse = tse.loc[:, ['證券代號','證券名稱','date','開盤價','最高價','最低價','收盤價','成交股數']]
        tse = tse.set_axis(['st_code', 'st_name', 'date', 'open', 'high', 'low', 'close', 'volume'], axis=1)
        tse = tse[(tse.open != '--') & (tse.close != '--') & (tse.open != '----')]
        otc = otc[(otc.open != '--') & (otc.close != '--') & (otc.open != '----')]

        daily_trading_update = pd.concat([tse, otc], axis=0)
        db_today = daily_trading_db[daily_trading_db.date == today]
        daily_trading_update = daily_trading_update[~daily_trading_update.st_code.isin(db_today[db_today.date == today].st_code)]

        if daily_trading_update.shape[0] > 0:
            daily_trading_update.to_sql('stock_daily_trading', engine, if_exists='append')
        else:
            pass
    except ValueError:
        pass
print('完成每日更新個股收盤資訊', datetime.datetime.now())


"""
機器學習分組相關
"""
cluster = pd.read_csv('/Users/yuchun/Revenue/ML_Cluster/cluster_industry.csv')
group = pd.merge(industry, cluster.loc[:, ['歆凱分組', '代號']].rename({'代號':'st_code'}, axis=1), on='st_code', how='left')
group['歆凱分組'] = np.where(group['歆凱分組'].isna() == True, 'ML無分', group['歆凱分組'])
group.st_code = group.st_code.astype(str)

def latest_return(data):
    data['近一日漲跌％'] = round(data.close.pct_change(1)*100, 2)
    data['近一週漲跌％'] = round(data.close.pct_change(5)*100, 2)
    data['近一月漲跌％'] = round(data.close.pct_change(20)*100, 2)
    return data

ml_db = daily_trading_db[daily_trading_db.st_code.isin(group.st_code) == True].drop('index', axis=1)
ml_db = ml_db.groupby('st_code', as_index=False).apply(latest_return)


"""
最新的分組報酬
"""
ml_latest_return = ml_db.drop_duplicates('st_code', keep='last').loc[:, ['st_code', 'date', '近一日漲跌％', '近一週漲跌％', '近一月漲跌％']]
ml_latest_return = pd.merge(group, ml_latest_return, on='st_code', how='left')
ml_latest_return.to_csv('/Users/yuchun/Revenue/Web2/models/ml_latest_return.csv', 
                        encoding='utf_8_sig', header=True)
print('機器學習分組最新報酬完成', datetime.datetime.now())


"""
近一年的日報酬，繪圖用
"""
year_ago_date = ml_db.date.sort_values().drop_duplicates().tail(252).head(1).values[0]
latest_year_return = ml_db[ml_db.date >= year_ago_date].loc[:, ['st_code', 'date', '近一日漲跌％']]
latest_year_return.to_csv('/Users/yuchun/Revenue/Web2/models/latest_year_return.csv', 
                          encoding='utf_8_sig', header=True, index=False)
print('機器學習分組近一年報酬完成', datetime.datetime.now())

2023-03-30 13:35:18,454 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2023-03-30 13:35:18,458 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-30 13:35:18,850 INFO sqlalchemy.engine.Engine select current_schema()
2023-03-30 13:35:18,852 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-30 13:35:19,242 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2023-03-30 13:35:19,244 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-03-30 13:35:19,632 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-03-30 13:35:19,634 INFO sqlalchemy.engine.Engine [generated in 0.00229s] {'name': 'monthly_revenue'}
2023-03-30 13:35:20,216 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2023-03-30 13:35:20,218 INFO sqlalchemy.engine.Engine [generated in 0.00259s] {'schema': 'public'}
2023-03-30 13:35:20,615 INFO sqlalchemy.engine.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2023-03-30 13:35:20,616 INFO sqlalchemy.engine.Engine [generated in 0.00169s] {'table_name': 'monthly_revenue'}
2023-03-30 13:35:20,815 INFO sqlalchemy.engine.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (
                SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
                WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
                AND a.atthasdef
              ) AS DEFAULT,
              a.attnotnull,
              a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated,
                              (SELECT json_build_object(
                    'always', a.attidentity = 'a',
                    'start', s.seqstart,
                    'increment', s.seqincrement,
                    'minvalue', s.seqmin,
                    'maxvalue', s.seqmax,
                    'cache', s.seqcache,
                    'cycle', s.seqcycle)
                FROM pg_catalog.pg_sequence s
                JOIN pg_catalog.pg_class c on s.seqrelid = c."oid"
                WHERE c.relkind = 'S'
                AND a.attidentity != ''
                AND s.seqrelid = pg_catalog.pg_get_serial_sequence(
                    a.attrelid::regclass::text, a.attname
                )::regclass::oid
                ) as identity_options
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2023-03-30 13:35:20,817 INFO sqlalchemy.engine.Engine [generated in 0.00193s] {'table_oid': 16740}
2023-03-30 13:35:21,016 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2023-03-30 13:35:21,017 INFO sqlalchemy.engine.Engine [generated in 0.00095s] {}
2023-03-30 13:35:21,211 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2023-03-30 13:35:21,212 INFO sqlalchemy.engine.Engine [generated in 0.00091s] {}
2023-03-30 13:35:21,408 INFO sqlalchemy.engine.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2023-03-30 13:35:21,409 INFO sqlalchemy.engine.Engine [generated in 0.00076s] {'table_oid': 16740}
2023-03-30 13:35:21,604 INFO sqlalchemy.engine.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2023-03-30 13:35:21,605 INFO sqlalchemy.engine.Engine [generated in 0.00141s] {'table_oid': 16740}
2023-03-30 13:35:21,800 INFO sqlalchemy.engine.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2023-03-30 13:35:21,801 INFO sqlalchemy.engine.Engine [generated in 0.00135s] {'table': 16740}
2023-03-30 13:35:21,995 INFO sqlalchemy.engine.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  pg_get_expr(ix.indpred, ix.indrelid),
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2023-03-30 13:35:21,996 INFO sqlalchemy.engine.Engine [generated in 0.00117s] {'table_oid': 16740}
2023-03-30 13:35:22,193 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2023-03-30 13:35:22,195 INFO sqlalchemy.engine.Engine [generated in 0.00116s] {'table_oid': 16740}
2023-03-30 13:35:22,393 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2023-03-30 13:35:22,394 INFO sqlalchemy.engine.Engine [generated in 0.00138s] {'table_oid': 16740}
2023-03-30 13:35:22,593 INFO sqlalchemy.engine.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2023-03-30 13:35:22,594 INFO sqlalchemy.engine.Engine [generated in 0.00114s] {'table_oid': 16740}
2023-03-30 13:35:22,985 INFO sqlalchemy.engine.Engine SELECT monthly_revenue.index, monthly_revenue.st_code, monthly_revenue.st_name, monthly_revenue.rev_period, monthly_revenue.release_date, monthly_revenue.rev, monthly_revenue."yoy％", monthly_revenue."mom％", monthly_revenue.year, monthly_revenue.month
FROM monthly_revenue
2023-03-30 13:35:22,986 INFO sqlalchemy.engine.Engine [generated in 0.00137s] {}
完成DB撈資料 2023-03-30 13:35:33.714148
完成讀function 2023-03-30 13:35:33.751929
完成最新營收更新csv 2023-03-30 13:35:34.025434
完成上傳新增的營收資訊 2023-03-30 13:35:34.557074

/var/folders/cp/fjxdr9q123d_d21qbg1shhbh0000gn/T/ipykernel_31751/1164477064.py:66: RuntimeWarning: Mean of empty slice
  return round(np.nanmean(data.ratio), 4)

完成最新預估營收csv完整的 2023-03-30 13:37:45.646346
2023-03-30 13:37:45,654 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-03-30 13:37:45,655 INFO sqlalchemy.engine.Engine [cached since 146s ago] {'name': '個股期歷史資料（近月及近二月）'}
2023-03-30 13:37:46,238 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2023-03-30 13:37:46,239 INFO sqlalchemy.engine.Engine [cached since 146s ago] {'schema': 'public'}
2023-03-30 13:37:46,629 INFO sqlalchemy.engine.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2023-03-30 13:37:46,630 INFO sqlalchemy.engine.Engine [cached since 146s ago] {'table_name': '個股期歷史資料（近月及近二月）'}
2023-03-30 13:37:46,832 INFO sqlalchemy.engine.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (
                SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
                WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
                AND a.atthasdef
              ) AS DEFAULT,
              a.attnotnull,
              a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated,
                              (SELECT json_build_object(
                    'always', a.attidentity = 'a',
                    'start', s.seqstart,
                    'increment', s.seqincrement,
                    'minvalue', s.seqmin,
                    'maxvalue', s.seqmax,
                    'cache', s.seqcache,
                    'cycle', s.seqcycle)
                FROM pg_catalog.pg_sequence s
                JOIN pg_catalog.pg_class c on s.seqrelid = c."oid"
                WHERE c.relkind = 'S'
                AND a.attidentity != ''
                AND s.seqrelid = pg_catalog.pg_get_serial_sequence(
                    a.attrelid::regclass::text, a.attname
                )::regclass::oid
                ) as identity_options
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2023-03-30 13:37:46,833 INFO sqlalchemy.engine.Engine [cached since 146s ago] {'table_oid': 16661}
2023-03-30 13:37:47,048 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2023-03-30 13:37:47,050 INFO sqlalchemy.engine.Engine [cached since 146s ago] {}
2023-03-30 13:37:47,261 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2023-03-30 13:37:47,263 INFO sqlalchemy.engine.Engine [cached since 146s ago] {}
2023-03-30 13:37:47,460 INFO sqlalchemy.engine.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2023-03-30 13:37:47,461 INFO sqlalchemy.engine.Engine [cached since 146.1s ago] {'table_oid': 16661}
2023-03-30 13:37:47,658 INFO sqlalchemy.engine.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2023-03-30 13:37:47,659 INFO sqlalchemy.engine.Engine [cached since 146.1s ago] {'table_oid': 16661}
2023-03-30 13:37:47,855 INFO sqlalchemy.engine.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2023-03-30 13:37:47,856 INFO sqlalchemy.engine.Engine [cached since 146.1s ago] {'table': 16661}
2023-03-30 13:37:48,062 INFO sqlalchemy.engine.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  pg_get_expr(ix.indpred, ix.indrelid),
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2023-03-30 13:37:48,063 INFO sqlalchemy.engine.Engine [cached since 146.1s ago] {'table_oid': 16661}
2023-03-30 13:37:48,267 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2023-03-30 13:37:48,268 INFO sqlalchemy.engine.Engine [cached since 146.1s ago] {'table_oid': 16661}
2023-03-30 13:37:48,465 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2023-03-30 13:37:48,466 INFO sqlalchemy.engine.Engine [cached since 146.1s ago] {'table_oid': 16661}
2023-03-30 13:37:48,671 INFO sqlalchemy.engine.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2023-03-30 13:37:48,672 INFO sqlalchemy.engine.Engine [cached since 146.1s ago] {'table_oid': 16661}
2023-03-30 13:37:49,294 INFO sqlalchemy.engine.Engine SELECT "個股期歷史資料（近月及近二月）".index, "個股期歷史資料（近月及近二月）"."代號", "個股期歷史資料（近月及近二月）"."名稱", "個股期歷史資料（近月及近二月）"."日期", "個股期歷史資料（近月及近二月）"."到期月", "個股期歷史資料（近月及近二月）"."開盤價", "個股期歷史資料（近月及近二月）"."最高價", "個股期歷史資料（近月及近二月）"."最低價", "個股期歷史資料（近月及近二月）"."收盤價", "個股期歷史資料（近月及近二月）"."每日結算價", "個股期歷史資料（近月及近二月）"."報酬率", "個股期歷史資料（近月及近二月）"."成交張數(量)", "個股期歷史資料（近月及近二月）"."未平倉合約數", "個股期歷史資料（近月及近二月）"."基差", "個股期歷史資料（近月及近二月）"."標的證券價格", "個股期歷史資料（近月及近二月）"."最後揭示買價", "個股期歷史資料（近月及近二月）"."最後揭示賣價", "個股期歷史資料（近月及近二月）"."標的證券ROI%%", "個股期歷史資料（近月及近二月）"."標的證券", "個股期歷史資料（近月及近二月）"."成交量(合計)", "個股期歷史資料（近月及近二月）"."未沖銷契約數(合計)"
FROM "個股期歷史資料（近月及近二月）"
2023-03-30 13:37:49,295 INFO sqlalchemy.engine.Engine [generated in 0.00096s] {}
完成個股期部分 2023-03-30 13:39:31.200990
完成可轉債部分 2023-03-30 13:39:31.456179
完成過濾產業 2023-03-30 13:39:31.479805
2023-03-30 13:39:31,481 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-03-30 13:39:31,482 INFO sqlalchemy.engine.Engine [cached since 251.8s ago] {'name': 'stock_daily_trading'}
2023-03-30 13:39:32,056 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2023-03-30 13:39:32,057 INFO sqlalchemy.engine.Engine [cached since 251.8s ago] {'schema': 'public'}
2023-03-30 13:39:32,441 INFO sqlalchemy.engine.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2023-03-30 13:39:32,442 INFO sqlalchemy.engine.Engine [cached since 251.8s ago] {'table_name': 'stock_daily_trading'}
2023-03-30 13:39:32,634 INFO sqlalchemy.engine.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (
                SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
                WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
                AND a.atthasdef
              ) AS DEFAULT,
              a.attnotnull,
              a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated,
                              (SELECT json_build_object(
                    'always', a.attidentity = 'a',
                    'start', s.seqstart,
                    'increment', s.seqincrement,
                    'minvalue', s.seqmin,
                    'maxvalue', s.seqmax,
                    'cache', s.seqcache,
                    'cycle', s.seqcycle)
                FROM pg_catalog.pg_sequence s
                JOIN pg_catalog.pg_class c on s.seqrelid = c."oid"
                WHERE c.relkind = 'S'
                AND a.attidentity != ''
                AND s.seqrelid = pg_catalog.pg_get_serial_sequence(
                    a.attrelid::regclass::text, a.attname
                )::regclass::oid
                ) as identity_options
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2023-03-30 13:39:32,635 INFO sqlalchemy.engine.Engine [cached since 251.8s ago] {'table_oid': 16747}
2023-03-30 13:39:32,828 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2023-03-30 13:39:32,830 INFO sqlalchemy.engine.Engine [cached since 251.8s ago] {}
2023-03-30 13:39:33,024 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2023-03-30 13:39:33,025 INFO sqlalchemy.engine.Engine [cached since 251.8s ago] {}
2023-03-30 13:39:33,222 INFO sqlalchemy.engine.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2023-03-30 13:39:33,224 INFO sqlalchemy.engine.Engine [cached since 251.8s ago] {'table_oid': 16747}
2023-03-30 13:39:33,419 INFO sqlalchemy.engine.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2023-03-30 13:39:33,421 INFO sqlalchemy.engine.Engine [cached since 251.8s ago] {'table_oid': 16747}
2023-03-30 13:39:33,614 INFO sqlalchemy.engine.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2023-03-30 13:39:33,615 INFO sqlalchemy.engine.Engine [cached since 251.8s ago] {'table': 16747}
2023-03-30 13:39:33,812 INFO sqlalchemy.engine.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  pg_get_expr(ix.indpred, ix.indrelid),
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2023-03-30 13:39:33,814 INFO sqlalchemy.engine.Engine [cached since 251.8s ago] {'table_oid': 16747}
2023-03-30 13:39:34,009 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2023-03-30 13:39:34,010 INFO sqlalchemy.engine.Engine [cached since 251.8s ago] {'table_oid': 16747}
2023-03-30 13:39:34,204 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2023-03-30 13:39:34,205 INFO sqlalchemy.engine.Engine [cached since 251.8s ago] {'table_oid': 16747}
2023-03-30 13:39:34,400 INFO sqlalchemy.engine.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2023-03-30 13:39:34,401 INFO sqlalchemy.engine.Engine [cached since 251.8s ago] {'table_oid': 16747}
2023-03-30 13:39:34,786 INFO sqlalchemy.engine.Engine SELECT stock_daily_trading.index, stock_daily_trading.st_code, stock_daily_trading.st_name, stock_daily_trading.date, stock_daily_trading.open, stock_daily_trading.high, stock_daily_trading.low, stock_daily_trading.close, stock_daily_trading.volume
FROM stock_daily_trading
2023-03-30 13:39:34,786 INFO sqlalchemy.engine.Engine [generated in 0.00092s] {}
完成每日更新個股收盤資訊 2023-03-30 13:40:23.157162
機器學習分組最新報酬完成 2023-03-30 13:40:29.312222
機器學習分組近一年報酬完成 2023-03-30 13:40:31.430044

In [521]:
st_future['日期'].drop_duplicates().tail(1).values[0]
db[db.st_code.isin(st_future[st_future['日期'] == st_future['日期'].drop_duplicates().tail(1).values[0]].st_code.sort_values())].drop_duplicates('st_code')

,st_code,st_name,rev_period,release_date,rev,yoy％,mom％,year,month
0,1101,台泥,2015/01,2015/02/10,8921.72,-8.98,-10.00,2015,01
1,1102,亞泥,2015/01,2015/02/10,6851.82,13.89,-5.07,2015,01
9,1210,大成,2015/01,2015/02/10,7571.53,-8.17,-12.30,2015,01
12,1216,統一,2015/01,2015/02/10,38864.36,-5.25,26.67,2015,01
31,1301,台塑,2015/01,2015/02/06,16977.15,-5.52,2.25,2015,01
...,...,...,...,...,...,...,...,...,...
1615,9939,宏全,2015/01,2015/02/10,1370.33,-4.49,22.55,2015,01
1621,9945,潤泰新,2015/01,2015/02/10,864.32,-23.72,-13.42,2015,01
61630,6770,力積電,2018/01,None,632.81,NaN,NaN,2018,01
66166,3711,日月光投控,2018/04,2018/05/08,0.00,NaN,NaN,2018,04
124234,3714,富采,2021/01,2021/02/05,2314.39,NaN,NaN,2021,01

In [461]:
cluster = pd.read_csv('/Users/yuchun/Revenue/ML_Cluster/cluster_industry.csv')
industry = pd.read_csv('/Users/yuchun/Revenue/ML_Cluster/industry.csv')
daily_trading = pd.read_csv('/Users/yuchun/Revenue/ML_Cluster/daily_trading.csv', low_memory=False).drop('Unnamed: 0', axis=1)
group = pd.merge(industry, , on='代號', how='left').drop('Unnamed: 0', axis=1)

In [474]:
daily_trading_db.dtypes
group.dtypes

st_code     int64
st_name    object
交易所產業分類    object
TEJ產業分類    object
歆凱分組       object
dtype: object

In [364]:
cluster = pd.read_csv('/Users/yuchun/Revenue/ML_Cluster/cluster_industry.csv')
cluster = cluster.loc[:, ['歆凱分組', '代號']].rename({'代號':'st_code'}, axis=1)
industry = pd.read_csv('/Users/yuchun/Revenue/Predict_REV/industry.csv')
group = pd.merge(industry, cluster, on='st_code', how='left')

group.st_code = group.st_code.astype(str)

# today_daily_trading = """
# SELECT *
# FROM daily_trading
# WHERE date > '{}';
# """.format(today)

-1

In [444]:
daily_trading_db = pd.read_sql('stock_daily_trading', engine).sort_values(['date', 'st_code'])
daily_trading_db = daily_trading_db.drop_duplicates()
daily_trading_db.date = pd.to_datetime(daily_trading_db.date).dt.strftime('%Y/%m/%d')

def latest_return(data):
    data['近一日漲跌％'] = round(data.close.pct_change(1)*100, 2)
    data['近一週漲跌％'] = round(data.close.pct_change(5)*100, 2)
    data['近一月漲跌％'] = round(data.close.pct_change(20)*100, 2)
    return data

df = daily_trading_db[daily_trading_db.st_code.isin(group.st_code) == True].drop('index', axis=1)
df = df.groupby('st_code', as_index=False).apply(latest_return)

"""
最新的分組報酬
"""
ml_latest_return = df.drop_duplicates('st_code', keep='last').loc[:, ['st_code', '近一日漲跌％', '近一週漲跌％', '近一月漲跌％']]
ml_latest_return = pd.merge(group, ml_latest_return, on='st_code', how='left')
ml_latest_return.to_csv('/Users/yuchun/Revenue/Web2/models/ml_latest_return.csv', 
                        encoding='utf_8_sig', header=True)

"""
近一年的日報酬，繪圖用
"""
year_ago_date = df.date.sort_values().drop_duplicates().tail(252).head(1).values[0]
latest_year_return = df[df.date >= year_ago_date].loc[:, ['st_code', '近一日漲跌％']]
latest_year_return.to_csv('/Users/yuchun/Revenue/Web2/models/latest_year_return.csv', 
                          encoding='utf_8_sig', header=True, index=False)

In [449]:
"""
更新個股每日收盤資訊
"""
daily_trading_db = pd.read_sql('stock_daily_trading', engine).sort_values(['date', 'st_code'])
daily_trading_db = daily_trading_db.drop_duplicates()
daily_trading_db.date = pd.to_datetime(daily_trading_db.date).dt.strftime('%Y/%m/%d')


today = datetime.datetime.today().strftime("%Y/%m/%d")
otc_year = datetime.datetime.today().year - 1911
otc_date = str(otc_year) + '/' + datetime.datetime.today().strftime("%Y/%m/%d")[5:]
tse_date = ''.join(datetime.datetime.today().strftime("%Y/%m/%d").split('/'))

tse_url = 'https://www.twse.com.tw/rwd/zh/afterTrading/MI_INDEX?date=' + tse_date + '&type=ALLBUT0999&response=html'
otc_url = 'https://www.tpex.org.tw/web/stock/aftertrading/otc_quotes_no1430/stk_wn1430_result.php?l=zh-tw&o=htm&d=' + otc_date + '&se=EW&s=0,asc,0'
tse = pd.read_html(tse_url)[-1]
otc = pd.read_html(otc_url)[0]
tse.columns = tse.columns.droplevel(level=0)
otc.columns = otc.columns.droplevel(level=0)
otc = otc[otc['次日漲停價'].isna() == False]             # 把總共筆數刪掉

otc['date'] = today
tse['date'] = today

otc = otc.loc[:, ['代號','名稱','date','開盤','最高','最低','收盤','成交股數']]
otc = otc.set_axis(['st_code', 'st_name', 'date', 'open', 'high', 'low', 'close', 'volume'], axis=1)
tse = tse.loc[:, ['證券代號','證券名稱','date','開盤價','最高價','最低價','收盤價','成交股數']]
tse = tse.set_axis(['st_code', 'st_name', 'date', 'open', 'high', 'low', 'close', 'volume'], axis=1)
tse = tse[(tse.open != '--') & (tse.close != '--') & (tse.open != '----')]
otc = otc[(otc.open != '--') & (otc.close != '--') & (otc.open != '----')]

daily_trading_update = pd.concat([tse, otc], axis=0)
db_today = daily_trading_db[daily_trading_db.date == today]
daily_trading_update = daily_trading_update[~daily_trading_update.st_code.isin(db_today[db_today.date == today].st_code)]

if daily_trading_update.shape[0] > 0:
    daily_trading_update.to_sql('stock_daily_trading', engine, if_exists='append')
else:
    pass

print('完成每日更新個股收盤資訊')


"""
機器學習分組相關
"""
def latest_return(data):
    data['近一日漲跌％'] = round(data.close.pct_change(1)*100, 2)
    data['近一週漲跌％'] = round(data.close.pct_change(5)*100, 2)
    data['近一月漲跌％'] = round(data.close.pct_change(20)*100, 2)
    return data

ml_db = daily_trading_db[daily_trading_db.st_code.isin(group.st_code) == True].drop('index', axis=1)
ml_db = ml_db.groupby('st_code', as_index=False).apply(latest_return)

"""
最新的分組報酬
"""
ml_latest_return = df.drop_duplicates('st_code', keep='last').loc[:, ['st_code', '近一日漲跌％', '近一週漲跌％', '近一月漲跌％']]
ml_latest_return = pd.merge(group, ml_latest_return, on='st_code', how='left')
ml_latest_return.to_csv('/Users/yuchun/Revenue/Web2/models/ml_latest_return.csv', 
                        encoding='utf_8_sig', header=True)

"""
近一年的日報酬，繪圖用
"""
year_ago_date = ml_db.date.sort_values().drop_duplicates().tail(252).head(1).values[0]
latest_year_return = ml_db[ml_db.date >= year_ago_date].loc[:, ['st_code', '近一日漲跌％']]
latest_year_return.to_csv('/Users/yuchun/Revenue/Web2/models/latest_year_return.csv', 
                          encoding='utf_8_sig', header=True, index=False)

2023-03-29 09:43:52,344 INFO sqlalchemy.engine.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2023-03-29 09:43:52,345 INFO sqlalchemy.engine.Engine [cached since 8557s ago] {'name': 'stock_daily_trading'}
2023-03-29 09:43:53,001 INFO sqlalchemy.engine.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2023-03-29 09:43:53,004 INFO sqlalchemy.engine.Engine [cached since 8557s ago] {'schema': 'public'}
2023-03-29 09:43:53,421 INFO sqlalchemy.engine.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2023-03-29 09:43:53,422 INFO sqlalchemy.engine.Engine [cached since 8557s ago] {'table_name': 'stock_daily_trading'}
2023-03-29 09:43:53,618 INFO sqlalchemy.engine.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (
                SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
                WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
                AND a.atthasdef
              ) AS DEFAULT,
              a.attnotnull,
              a.attrelid as table_oid,
              pgd.description as comment,
              a.attgenerated as generated,
                              (SELECT json_build_object(
                    'always', a.attidentity = 'a',
                    'start', s.seqstart,
                    'increment', s.seqincrement,
                    'minvalue', s.seqmin,
                    'maxvalue', s.seqmax,
                    'cache', s.seqcache,
                    'cycle', s.seqcycle)
                FROM pg_catalog.pg_sequence s
                JOIN pg_catalog.pg_class c on s.seqrelid = c."oid"
                WHERE c.relkind = 'S'
                AND a.attidentity != ''
                AND s.seqrelid = pg_catalog.pg_get_serial_sequence(
                    a.attrelid::regclass::text, a.attname
                )::regclass::oid
                ) as identity_options
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2023-03-29 09:43:53,619 INFO sqlalchemy.engine.Engine [cached since 8557s ago] {'table_oid': 16747}
2023-03-29 09:43:53,846 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2023-03-29 09:43:53,849 INFO sqlalchemy.engine.Engine [cached since 8557s ago] {}
2023-03-29 09:43:54,051 INFO sqlalchemy.engine.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2023-03-29 09:43:54,052 INFO sqlalchemy.engine.Engine [cached since 8557s ago] {}
2023-03-29 09:43:54,256 INFO sqlalchemy.engine.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2023-03-29 09:43:54,259 INFO sqlalchemy.engine.Engine [cached since 8557s ago] {'table_oid': 16747}
2023-03-29 09:43:54,459 INFO sqlalchemy.engine.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2023-03-29 09:43:54,461 INFO sqlalchemy.engine.Engine [cached since 8557s ago] {'table_oid': 16747}
2023-03-29 09:43:54,662 INFO sqlalchemy.engine.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2023-03-29 09:43:54,666 INFO sqlalchemy.engine.Engine [cached since 8557s ago] {'table': 16747}
2023-03-29 09:43:54,865 INFO sqlalchemy.engine.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  pg_get_expr(ix.indpred, ix.indrelid),
                  ix.indnkeyatts as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2023-03-29 09:43:54,866 INFO sqlalchemy.engine.Engine [cached since 8556s ago] {'table_oid': 16747}
2023-03-29 09:43:55,074 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2023-03-29 09:43:55,076 INFO sqlalchemy.engine.Engine [cached since 8556s ago] {'table_oid': 16747}
2023-03-29 09:43:55,277 INFO sqlalchemy.engine.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2023-03-29 09:43:55,278 INFO sqlalchemy.engine.Engine [cached since 8556s ago] {'table_oid': 16747}
2023-03-29 09:43:55,488 INFO sqlalchemy.engine.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2023-03-29 09:43:55,490 INFO sqlalchemy.engine.Engine [cached since 8556s ago] {'table_oid': 16747}
2023-03-29 09:43:55,886 INFO sqlalchemy.engine.Engine SELECT stock_daily_trading.index, stock_daily_trading.st_code, stock_daily_trading.st_name, stock_daily_trading.date, stock_daily_trading.open, stock_daily_trading.high, stock_daily_trading.low, stock_daily_trading.close, stock_daily_trading.volume
FROM stock_daily_trading
2023-03-29 09:43:55,887 INFO sqlalchemy.engine.Engine [generated in 0.00074s] {}

,index,st_code,st_name,date,open,high,low,close,volume
407470,1970,0050,元大台灣50,2021/09/01,140.15,141.30,140.05,141.00,18843
407471,2331,0051,元大中型100,2021/09/01,56.50,57.40,56.50,57.40,34
407472,2692,0052,富邦科技,2021/09/01,127.30,128.10,126.95,127.90,1655
407473,3053,0053,元大電子,2021/09/01,67.50,67.80,67.50,67.80,12
407474,3414,0055,元大MSCI金融,2021/09/01,23.66,23.75,23.65,23.66,136
...,...,...,...,...,...,...,...,...,...
403328,1961,9951,皇田,2023/03/28,71.50,71.50,69.70,69.80,96000
403329,1081,9955,佳龍,2023/03/28,25.45,25.85,24.95,25.35,1617015
403330,1082,9958,世紀鋼,2023/03/28,97.30,97.90,96.50,96.50,1215409
403331,1962,9960,邁達康,2023/03/28,30.50,30.80,30.40,30.60,28000
403332,1963,9962,有益,2023/03/28,21.60,21.70,21.35,21.35,961000

       st_code  近一日漲跌％
689411    1101    0.31
689413    1102    0.84
689414    1103    1.24
689415    1104    0.95
689416    1108    0.85
...        ...     ...
403328    9951   -2.92
403329    9955   -1.17
403330    9958   -0.82
403331    9960   -0.49
403332    9962   -0.93

[443904 rows x 2 columns]

In [447]:
# today = datetime.datetime.today().strftime("%Y/%m/%d")

# today_daily_trading = """
# SELECT *
# FROM daily_trading
# WHERE date = '{}';
# """.format(today)

# daily_trading_db = pd.read_sql(today_daily_trading, engine)

otc_year = datetime.datetime.today().year - 1911
# otc_date = str(otc_year) + '/' + datetime.datetime.today().strftime("%Y/%m/%d")[5:]
# tse_date = ''.join(datetime.datetime.today().strftime("%Y/%m/%d").split('/'))

otc_date = '112/02/26'
tse_date = '20230226'

tse_url = 'https://www.twse.com.tw/rwd/zh/afterTrading/MI_INDEX?date=' + tse_date + '&type=ALLBUT0999&response=html'
otc_url = 'https://www.tpex.org.tw/web/stock/aftertrading/otc_quotes_no1430/stk_wn1430_result.php?l=zh-tw&o=htm&d=' + otc_date + '&se=EW&s=0,asc,0'
tse = pd.read_html(tse_url)[-1]
otc = pd.read_html(otc_url)[0]
tse.columns = tse.columns.droplevel(level=0)
otc.columns = otc.columns.droplevel(level=0)
otc = otc[otc['次日漲停價'].isna() == False]             # 把總共筆數刪掉

otc['date'] = '2023/02/26'
tse['date'] = '2023/02/26'

otc = otc.loc[:, ['代號','名稱','date','開盤','最高','最低','收盤','成交股數']]
otc = otc.set_axis(['st_code', 'st_name', 'date', 'open', 'high', 'low', 'close', 'volume'], axis=1)
tse = tse.loc[:, ['證券代號','證券名稱','date','開盤價','最高價','最低價','收盤價','成交股數']]
tse = tse.set_axis(['st_code', 'st_name', 'date', 'open', 'high', 'low', 'close', 'volume'], axis=1)
tse = tse[(tse.open != '--') & (tse.close != '--') & (tse.open != '----')]
otc = otc[(otc.open != '--') & (otc.close != '--') & (otc.open != '----')]
daily_trading_update = pd.concat([tse, otc], axis=0)
daily_trading_update
# daily_trading_update.to_sql('stock_daily_trading', engine, if_exists='append')

# daily_trading_update = daily_trading_update[~daily_trading_update.st_code.isin(daily_trading_db[daily_trading_db.date == today].st_code)]
# daily_trading_db
# daily_trading_update.to_sql('stock_daily_trading', engine)
# if daily_trading_update.shape[0] > 0:
#     daily_trading_update.to_sql('daily_trading', engine, if_exists='append')
# else:
#     pass

ValueError: No tables found

In [197]:

data = predict_nxt_month[predict_nxt_month.st_code == '3715']


def get_ratio(data):
    ttl_rev = data.rev.sum() / len(data) * 12
    data['ratio'] = round(data.rev/ttl_rev, 4)
    return data

def get_yoy(data):
    data.year = data.year.astype(int)
    data = data.sort_values('year')
    if data.rev.head(1).isnull== True:
        data['yoy％'] = 100
    else:
        data['yoy％'] = round(data.rev.diff()/data.rev.shift(1) * 100, 2)
    return data
    

def get_month_rev_predict_for_nxt_year(data):
#     print(data.st_code.head(1).values[0])
    if data.shape[0] >= 12:
        data = data.groupby('year').apply(get_ratio)
        ratio = data.groupby('month', as_index=False).apply(get_avg_ratio).set_axis(['month', 'wt_avg_ratio'],axis=1)
        data = pd.merge(data, ratio, on='month', how='outer').sort_values('rev_period').reset_index(drop=True,inplace=False).tail(12)
        predict_avg_annual_rev = round((data.rev/data.wt_avg_ratio).mean(), 4)
        data['rev'] = round(data.wt_avg_ratio * predict_avg_annual_rev, 2)
        data.year = data.year.astype(int) + 1
        data.rev_period = '* '+ data.year.astype(str) + '/' + data.month
        data = pd.concat([db[db.st_code == data.st_code.head(1).values[0]].tail(12), 
                          data], axis=0)
        data = data.groupby('month', as_index=False).apply(get_yoy)
        data['mom％'] = round(data.rev.pct_change(1) * 100, 2)
        return data[predict_order].sort_values('rev_period').head(1)
    else:
        data = data.groupby('year').apply(get_ratio)
        ratio = data.groupby('month', as_index=False).apply(get_avg_ratio).set_axis(['month', 'wt_avg_ratio'],axis=1)
        ratio_len = ratio.month.shape[0]
        ratio = pd.merge(ratio_df, ratio, on='month', how='left').sort_values('month')
        ratio.wt_avg_ratio = ratio.wt_avg_ratio.fillna(round((1 - ratio.wt_avg_ratio.sum())/(12-ratio_len), 4))
        data = pd.merge(data, ratio, on='month', how='outer').sort_values('rev_period').reset_index(drop=True,inplace=False).tail(12)
        data[['st_code', 'st_name', 'year']] = data[['st_code', 'st_name', 'year']].fillna(method='pad')
        data.year = np.where(data.rev_period.isna() == False, data.year.astype(int) + 1, data.year)
        data.rev_period = '* ' + data.year.astype(str) + '/' + data.month
        predict_avg_annual_rev = round(np.nanmean(data.rev/data.wt_avg_ratio), 4)
        data['rev'] = round(data.wt_avg_ratio * predict_avg_annual_rev, 2)
        data = pd.concat([db[db.st_code == data.st_code.head(1).values[0]].tail(12), 
                          data], axis=0)
        data = data.groupby('month', as_index=False).apply(get_yoy)
        data['mom％'] = round(data.rev.pct_change(1) * 100, 2)
        return data[predict_order].sort_values('rev_period').head(1)

# predict_nxt_month = predict_nxt_month.groupby('st_code', as_index=False).apply(get_month_rev_predict_for_nxt_year)

In [194]:
predict_nxt_month.rename({'st_code':'代號', 'st_name':'名稱', 'rev':'營收(百萬)'}, axis=1)

        代號   名稱 rev_period    營收(百萬)   yoy％   mom％
0     1101   台泥  * 2023/03  10183.69   2.13  39.39
1     1102   亞泥  * 2023/03   7037.14 -13.76  12.75
2     1103   嘉泥  * 2023/03    216.90  -1.61   2.77
3     1104   環泥  * 2023/03    680.25  14.99  15.00
4     1108   幸福  * 2023/03    409.00  18.34  13.06
...    ...  ...        ...       ...    ...    ...
1782  9951   皇田  * 2023/03    406.52   8.63  -1.10
1783  9955   佳龍  * 2023/03     69.11 -28.16 -17.92
1784  9958  世紀鋼  * 2023/03    602.60  -3.75 -20.57
1785  9960  邁達康  * 2023/03     80.51  33.56  30.63
1786  9962   有益  * 2023/03    288.92 -21.25  -7.49

[1787 rows x 6 columns]

In [55]:
def get_yoy(data):
    data = data.sort_values('Year')
    data['yoy'] = round(data.rev.diff()/data.rev.shift(1), 4)
    return data

def get_ratio(data):
    ttl_rev = data.rev.sum()/len(data)*12
    data['ratio'] = round(data.rev/ttl_rev, 4)
    return data


def get_avg_ratio(data):
    if len(data) >= 5:
        weight = [1, 1, 1, 3, 5]
        roll_num = len(weight)
        data = data.sort_values('year').reset_index(drop=True, inplace=False).tail(roll_num + 1).head(roll_num)  # 抓到最後一年的前 n 年，n 隨權重年份個變
        return round(np.average(data.ratio, weights = weight), 4)
    
    elif len(data) == 4:
        weight = [1, 1, 2, 3]
        roll_num = len(weight)
        data = data.sort_values('year').reset_index(drop=True, inplace=False).tail(roll_num + 1).head(roll_num)  # 抓到最後一年的前 n 年，n 隨權重年份個變
        return round(np.average(data.ratio, weights = weight), 4)
    
    elif len(data) == 3:
        weight = [1, 1, 2]
        roll_num = len(weight)
        data = data.sort_values('year').reset_index(drop=True, inplace=False).tail(roll_num + 1).head(roll_num)  # 抓到最後一年的前 n 年，n 隨權重年份個變
        return round(np.average(data.ratio, weights = weight), 4)
    
    elif len(data) <= 2:
        return round(np.nanmean(data.ratio), 4)


def get_predict(data):
    data = data.sort_values('rev_period')
    if data.shape[0] >= 10:
        a = data.groupby('Year', as_index=False).apply(get_ratio)
        ratio = pd.DataFrame(a.groupby('month', as_index=False).apply(get_avg_ratio)).set_axis(['month', 'wt_avg_ratio'],axis=1)
        predict = pd.merge(a, ratio, on='month', how='outer').sort_values('rev_period').reset_index(drop=True,inplace=False).tail(12)  # 僅向後預測一年
        predict['predict_annul_rev'] = round(predict.rev / predict.ratio)
        predict['predict_month_rev'] = round(predict['predict_annul_rev'].tail(12).mean()* predict.wt_avg_ratio)
        predict['Year'] = (predict.Year.astype(int) + 1).astype(str)
        predict['rev'] = predict['predict_month_rev']
        predict = pd.concat([data.sort_values('rev_period'), predict], axis=0).sort_values(['Year', 'month'])
        predict['mom'] = predict.rev.diff() / predict.rev.shift(1)
        predict = predict.groupby('month', as_index=False).apply(get_yoy).sort_values(['Year', 'month'])
        predict['rev_period'] = '* ' + predict.Year + '/' + predict.month
        predict = predict.drop(['ratio','wt_avg_ratio','predict_annul_rev','predict_month_rev'], axis=1)
        return predict.tail(12)
    else:
        print(data.st_code.head(1).values[0], data.shape[0])

In [ ]:
# 讀取更新報表
update = pd.read_excel("/Users/yuchun/Revenue/2022月營收更新報表_yuchun.xlsm", sheet_name='工作表1', header=6,
                       usecols=[3,4,5,6], names=['name', 'rev_period', 'declaration_date', 'rev'])
update[['st_code', 'st_name']] = update['name'].astype(str).str.split(n=1, expand=True)
update['declaration_date'] = pd.to_datetime(update['declaration_date'], format='%Y%m%d').dt.strftime('%Y/%m/%d')
update[['declaration_year', 'declaration_month', 'day']] = update['declaration_date'].astype(str).str.split('/', expand=True)
update = update.drop('day', axis=1)
update['rev_period'] = pd.to_datetime(update['rev_period'], format='%Y%m').dt.strftime('%Y/%m')
update = update[update.declaration_date != 'nan//'].drop('name', axis=1)


# 合併欄位及資料庫資訊
order = db.columns.values.tolist()
stock_info = db.loc[:, ['st_code', 'new_industry_name', 'minor_industry_name']].drop_duplicates(keep='first')
update = pd.merge(update, stock_info, on=['st_code'], how='inner')
update = update[order]
latest = update.rev_period.head(1).values[0]
update = update[~update.st_code.isin(db[db.rev_period == latest].st_code)]


#上傳新增的部分
if update.shape[0] == 0:
    predict_nxt_month = db
else:
    update.to_sql('tej_revenue', engine, if_exists='append')
    predict_nxt_month = pd.concat([db, update], axis=0)


# 預估次月營收
predict_nxt_month = predict_nxt_month.sort_values('rev_period')
predict_nxt_month = predict_nxt_month.groupby('st_code', as_index=False).apply(fn.get_st_mom_yoy).reset_index(drop=True)
predict_nxt_month = predict_nxt_month.groupby('st_code', as_index=False).apply(fn.get_predict).reset_index(drop=True)
predict_nxt_month = predict_nxt_month.drop_duplicates('st_code', keep='first')
predict_nxt_month = predict_nxt_month.drop(['declaration_date', 'declaration_year', 
                                            'declaration_month', 'Year', 'month'], axis=1)
predict_nxt_month = predict_nxt_month[predict_nxt_month.yoy <= 1000000000].sort_values('yoy', ascending=False)
predict_nxt_month.yoy = round(predict_nxt_month.yoy, 3)
predict_nxt_month.mom = round(predict_nxt_month.mom, 3)


# 輸出報表
filename = predict_nxt_month.rev_period.head(1).values[0][2:]
predict_nxt_month = predict_nxt_month.loc[:, ['st_code', 'st_name', 'rev_period', 'yoy', 'mom', 'rev', 'new_industry_name']]
predict_nxt_month = predict_nxt_month.rename({'st_code':'代號', 'st_name':'名稱', 'rev_period':'預估月', 
                                    'rev':'預估營收（百萬）', 'new_industry_name':'TEJ產業'}, axis=1)
predict_nxt_month.to_csv('/Users/yuchun/Revenue/Web2/models/{}營收預估.csv'.format(filename), 
                         encoding='utf_8_sig', 
                         header=True, 
                         index=False)


# 有發個股期的個股
futures_data = """
SELECT DISTINCT 標的證券 FROM 個股期歷史資料（近月及近二月）;
"""
st_future = pd.read_sql(futures_data, engine)
st_future['st_code'] = st_future['標的證券'].str[:4]
predict_nxt_month_f = predict_nxt_month[predict_nxt_month['代號'].isin(st_future.st_code)]
predict_nxt_month_f.to_csv('/Users/yuchun/Revenue/Web2/models/{}營收預估(個股期).csv'.format(filename), 
                           encoding='utf_8_sig', header=True, index=False)

In [22]:
# 最新公告營收報表
update = pd.read_excel("/Users/yuchun/Revenue/2022月營收更新報表_yuchun.xlsm", sheet_name='工作表1', header=6,
                       usecols=[3,4], names=['name', 'rev_period'])
update['rev_period'] = pd.to_datetime(update['rev_period'], format='%Y%m').dt.strftime('%Y/%m')


latest = update.sort_values('rev_period').rev_period.head(1).values[0]
latest_data = db.groupby('st_code', as_index=False).apply(fn.get_st_mom_yoy).reset_index(drop=True)
latest_data = latest_data.loc[:, ['st_code', 'st_name', 'rev_period', 'rev', 'mom', 'yoy', 'new_industry_name']]
latest_data = latest_data[(latest_data.rev_period == latest)]
latest_data.yoy = round(latest_data.yoy, 3)
latest_data.mom = round(latest_data.mom, 3)
latest_data = latest_data.rename({'st_code':'代號', 'st_name':'名稱', 'rev_period':'月份', 'rev':'預估營收（百萬）', 'new_industry_name':'TEJ產業別'}, axis=1)
latest_data.to_csv('/Users/yuchun/Revenue/Web2/models/{}最新營收公布.csv'.format(latest), 
                         encoding='utf_8_sig', 
                         header=True,
                         index=False)

          代號   名稱       月份  預估營收（百萬）    mom    yoy new_industry_name
121     1101   台泥  2023/02   7306.07 -0.003  0.339        M1100 水泥工業
243     1102   亞泥  2023/02   6241.24  0.296  0.522        M1100 水泥工業
365     1103   嘉泥  2023/02    211.05  0.104  0.574        M1100 水泥工業
487     1104   環泥  2023/02    591.52  0.173  0.698        M1100 水泥工業
609     1108   幸福  2023/02    361.75  0.227  0.717        M1100 水泥工業
...      ...  ...      ...       ...    ...    ...               ...
194579  9951   皇田  2023/02    411.04  0.115  0.216        M1500 電機機械
194701  9955   佳龍  2023/02     84.20  0.009 -0.350          M9900 其他
194822  9958  世紀鋼  2023/02    758.70 -0.299 -0.074        M2000 鋼鐵工業
194943  9960  邁達康  2023/02     61.63  0.049  0.314        M2900 貿易百貨
195065  9962   有益  2023/02    312.30  0.111  0.222        M2000 鋼鐵工業

[1686 rows x 7 columns]

In [83]:
update = pd.read_excel("/Users/yuchun/Revenue/2022月營收更新報表_yuchun.xlsm", sheet_name='工作表1', header=6,
                       usecols=[3,4,5,6], names=['name', 'rev_period', 'declaration_date', 'rev'])

update[['st_code', 'st_name']] = update['name'].astype(str).str.split(n=1, expand=True)
update['declaration_date'] = pd.to_datetime(update['declaration_date'], format='%Y%m%d').dt.strftime('%Y/%m/%d')
update[['declaration_year', 'declaration_month', 'day']] = update['declaration_date'].astype(str).str.split('/', expand=True)
update = update.drop('day', axis=1)
update['rev_period'] = pd.to_datetime(update['rev_period'], format='%Y%m').dt.strftime('%Y/%m')
update = update[(update.declaration_date != 'nan//') & 
                (update.declaration_year != 'nan')].drop('name', axis=1)


# 合併欄位及資料庫資訊
order = db.columns.values.tolist()
stock_info = db.loc[:, ['st_code', 'new_industry_name', 'minor_industry_name']].drop_duplicates(keep='first')
update = pd.merge(update, stock_info, on=['st_code'], how='inner')
update = update[order]
latest = update.rev_period.head(1).values[0]
update = update[~update.st_code.isin(db[db.rev_period == latest].st_code)]
update

#上傳新增的部分
if update.shape[0] == 0:
    predict_nxt_month = db
else:
    update.to_sql('tej_revenue', engine, if_exists='append')
    predict_nxt_month = pd.concat([db, update], axis=0)


predict_nxt_month = predict_nxt_month.sort_values('rev_period')
predict_nxt_month = predict_nxt_month.groupby('st_code', as_index=False).apply(fn.get_st_mom_yoy).reset_index(drop=True)
predict_nxt_month = predict_nxt_month.groupby('st_code', as_index=False).apply(fn.get_predict).reset_index(drop=True)
predict_nxt_month = predict_nxt_month.drop_duplicates('st_code', keep='first')
predict_nxt_month = predict_nxt_month.drop(['declaration_date', 'declaration_year', 
                                            'declaration_month', 'Year', 'month'], axis=1)
predict_nxt_month = predict_nxt_month[predict_nxt_month.yoy <= 1000000000].sort_values('yoy', ascending=False)
predict_nxt_month.yoy = round(predict_nxt_month.yoy, 3)
predict_nxt_month.mom = round(predict_nxt_month.mom, 3)

predict_nxt_month

,st_code,st_name,rev_period,rev,new_industry_name,minor_industry_name,mom,yoy
876,1438,三地開發,* 2023/01,105.51,M2500 建材營造,M25A 建設,NaN,10550.000
15024,6186,新潤,* 2022/12,2443.08,M2500 建材營造,M25A 建設,168.188,847.292
852,1436,華友聯,* 2023/03,352.00,M2500 建材營造,M25A 建設,121.222,703.000
7188,3056,總太,* 2023/03,314.00,M2500 建材營造,M25A 建設,2.379,71.517
12672,5213,亞昕,* 2023/03,555.00,M2500 建材營造,M25A 建設,18.878,28.365
...,...,...,...,...,...,...,...,...
13716,5514,三豐,* 2023/02,0.00,M2500 建材營造,M25A 建設,-1.000,-1.000
10536,4157,太景*-KY,* 2023/03,0.00,M1722 生技醫療,M17C1 西藥,-1.000,-1.000
5328,2539,櫻花建,* 2022/12,0.00,M2500 建材營造,M25A 建設,-1.000,-1.000
14196,6020,大展證,* 2023/03,1.00,M2800 金融業,M30A 證券,-0.984,-1.060
6072,2809,京城銀,* 2023/03,472.00,M2800 金融業,M28A 本國銀行,-0.554,-2.356

In [208]:
predict_nxt_month[predict_nxt_month.rev_period == '* 2023/02']
# db[db.st_code == '1516'].sort_values('rev_period')
# db = db[db.rev_period < '2023/01']
# fn.get_st_mom_yoy(db[db.st_code == '9105'].sort_values('rev_period'))
# db

Empty DataFrame
Columns: [st_code, st_name, rev_period, declaration_date, rev, declaration_year, declaration_month, new_industry_name, minor_industry_name, Year, month, mom, yoy]
Index: []

In [171]:
predict_nxt_month[(predict_nxt_month.rev_period == '2022/10')]

,st_code,st_name,rev_period,declaration_date,rev,declaration_year,declaration_month,new_industry_name,minor_industry_name,Year,month,mom,yoy
117,1101,台泥,2022/10,2022/11/10,11368.10,2022,11,M1100 水泥工業,M11A 水泥製造,2022,10,0.0926,0.1885
239,1102,亞泥,2022/10,2022/11/10,7601.10,2022,11,M1100 水泥工業,M11A 水泥製造,2022,10,0.0868,-0.1960
361,1103,嘉泥,2022/10,2022/11/10,209.43,2022,11,M1100 水泥工業,M11A 水泥製造,2022,10,0.0203,0.0843
483,1104,環泥,2022/10,2022/11/10,634.98,2022,11,M1100 水泥工業,M11A 水泥製造,2022,10,0.0633,0.1360
605,1108,幸福,2022/10,2022/11/08,401.20,2022,11,M1100 水泥工業,M11A 水泥製造,2022,10,0.1574,0.4498
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195050,9951,皇田,2022/10,2022/11/10,432.84,2022,11,M1500 電機機械,M15D 汽車組件,2022,10,-0.0679,0.2458
195172,9955,佳龍,2022/10,2022/11/09,80.63,2022,11,M9900 其他,M99L1 貴金屬回收,2022,10,0.0183,-0.2943
195294,9958,世紀鋼,2022/10,2022/11/10,911.83,2022,11,M2000 鋼鐵工業,M20A2 鋼筋,2022,10,0.0096,0.0081
195416,9960,邁達康,2022/10,2022/11/10,79.00,2022,11,M2900 貿易百貨,M29A9 其他零售,2022,10,-0.3056,0.0102
195538,9962,有益,2022/10,2022/11/04,307.43,2022,11,M2000 鋼鐵工業,M20A6 不鏽鋼,2022,10,0.1633,0.1299

In [155]:
predict_nxt_month = db

predict_nxt_month = predict_nxt_month.sort_values('rev_period')
predict_nxt_month = predict_nxt_month.groupby('st_code', as_index=False).apply(fn.get_st_mom_yoy).reset_index(drop=True)
# predict_nxt_month = predict_nxt_month.groupby('st_code', as_index=False).apply(fn.get_predict).reset_index(drop=True)
# predict_nxt_month = predict_nxt_month.drop_duplicates('st_code', keep='first')
# predict_nxt_month = predict_nxt_month.drop(['declaration_date', 'declaration_year', 
#                                             'declaration_month', 'Year', 'month'], axis=1)
# predict_nxt_month = predict_nxt_month[predict_nxt_month.yoy <= 1000000000].sort_values('yoy', ascending=False)
# predict_nxt_month.yoy = round(predict_nxt_month.yoy, 3)
# predict_nxt_month.mom = round(predict_nxt_month.mom, 3)

,st_code,st_name,rev_period,declaration_date,rev,declaration_year,declaration_month,new_industry_name,minor_industry_name,Year,month,mom,yoy
0,1101,台泥,2013/01,2013/02/18,9134.46,2013,2,M1100 水泥工業,M11A 水泥製造,2013,01,NaN,NaN
1,1101,台泥,2013/02,2013/03/08,5540.35,2013,3,M1100 水泥工業,M11A 水泥製造,2013,02,-0.3935,NaN
2,1101,台泥,2013/03,2013/04/10,9457.97,2013,4,M1100 水泥工業,M11A 水泥製造,2013,03,0.7071,NaN
3,1101,台泥,2013/04,2013/05/10,9919.27,2013,5,M1100 水泥工業,M11A 水泥製造,2013,04,0.0488,NaN
4,1101,台泥,2013/05,2013/06/10,9543.78,2013,6,M1100 水泥工業,M11A 水泥製造,2013,05,-0.0379,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195538,9962,有益,2022/10,2022/11/04,307.43,2022,11,M2000 鋼鐵工業,M20A6 不鏽鋼,2022,10,0.1633,0.1299
195539,9962,有益,2022/11,2022/12/07,308.66,2022,12,M2000 鋼鐵工業,M20A6 不鏽鋼,2022,11,0.0040,-0.0841
195540,9962,有益,2022/12,2023/01/09,385.67,2023,1,M2000 鋼鐵工業,M20A6 不鏽鋼,2022,12,0.2495,0.5687
195541,9962,有益,2023/01,2023/02/07,281.17,2023,2,M2000 鋼鐵工業,M20A6 不鏽鋼,2023,01,-0.2710,0.3300
195542,9962,有益,2023/02,2023/03/07,312.30,2023,3,M2000 鋼鐵工業,M20A6 不鏽鋼,2023,02,0.1107,0.2218

In [178]:
# predict_data = predict_nxt_month.groupby('st_code', as_index=False).apply(get_predict).reset_index(drop=True)
predict_data[predict_data.st_code == '9105']
df = predict_nxt_month[predict_nxt_month.st_code == '9105']
data = df.sort_values('rev_period')
latest = data.rev_period.tail(1).values[0]
if data.shape[0] >= 10:
    a = data.groupby('Year', as_index=False).apply(get_ratio)
    ratio = pd.DataFrame(a.groupby('month', as_index=False).apply(get_avg_ratio)).set_axis(['month', 'wt_avg_ratio'],axis=1)
    predict = pd.merge(a, ratio, on='month', how='outer').sort_values('rev_period').reset_index(drop=True,inplace=False).tail(12)  # 僅向後預測一年
#     predict['predict_annul_rev'] = round(predict.rev / predict.ratio)
#     predict['predict_month_rev'] = round(predict['predict_annul_rev'].tail(12).mean()* predict.wt_avg_ratio)
#     predict['Year'] = (predict.Year.astype(int) + 1).astype(str)
#     predict['rev'] = predict['predict_month_rev']
#     predict = pd.concat([data.sort_values('rev_period'), predict], axis=0).sort_values(['Year', 'month'])
#     predict['mom'] = predict.rev.diff() / predict.rev.shift(1)
#     predict = predict.groupby('month', as_index=False).apply(get_yoy).sort_values(['Year', 'month'])
#     predict['rev_period'] = '* ' + predict.Year + '/' + predict.month
#     predict = predict.drop(['ratio','wt_avg_ratio','predict_annul_rev','predict_month_rev'], axis=1)
#     return predict.tail(12)
# else:
#     print(data.st_code.head(1).values[0], data.shape[0])
predict_nxt_month.groupby('st_code').agg({'st_code':'count'})#.groupby('count').agg({'count':'count'})

         st_code
st_code
1101         122
1102         122
1103         122
1104         122
1108         122
...          ...
9951         122
9955         122
9958         122
9960         122
9962         122

[1688 rows x 1 columns]

In [180]:
a = predict_nxt_month.groupby('st_code').agg({'st_code':'count'})
a[a.st_code == 121]

         st_code
st_code
1591         121
3629         121
4142         121
4530         121
4712         121
4907         121
5205         121
6101         121
9105         121

In [186]:
db[db.st_code == '4712'].tail(12)

,st_code,st_name,rev_period,declaration_date,rev,declaration_year,declaration_month,new_industry_name,minor_industry_name
174273,4712,南璋,2022/02,2022/03/08,0.04,2022,3,M1200 食品工業,M99ZA3 漁業
176241,4712,南璋,2022/03,2022/04/08,0.28,2022,4,M1200 食品工業,M99ZA3 漁業
177368,4712,南璋,2022/04,2022/05/06,0.18,2022,5,M1200 食品工業,M99ZA3 漁業
179280,4712,南璋,2022/05,2022/06/08,-0.05,2022,6,M1200 食品工業,M99ZA3 漁業
180884,4712,南璋,2022/06,2022/07/07,0.03,2022,7,M1200 食品工業,M99ZA3 漁業
182646,4712,南璋,2022/07,2022/08/08,0.03,2022,8,M1200 食品工業,M99ZA3 漁業
185368,4712,南璋,2022/08,2022/09/12,0.03,2022,9,M1200 食品工業,M99ZA3 漁業
187000,4712,南璋,2022/09,2022/10/11,0.03,2022,10,M1200 食品工業,M99ZA3 漁業
188087,4712,南璋,2022/10,2022/11/09,1.22,2022,11,M1200 食品工業,M99ZA3 漁業
190058,4712,南璋,2022/11,2022/12/09,0.32,2022,12,M1200 食品工業,M99ZA3 漁業
191889,4712,南璋,2022/12,2023/01/10,11.04,2023,1,M1200 食品工業,M99ZA3 漁業
962,4712,南璋,2023/01,2023/02/10,0.00,2023,2,M1200 食品工業,M99ZA3 漁業

In [192]:
update = pd.read_excel('/Volumes/YUCHUN/20230327094322DataExport.xlsx')#.drop_duplicates(['年月','營收發布日','以合併為主單月營收(千元)'])
# update[update['代號'].astype(str).str[-1] == 'M']
update = update.loc[:, ['代號','名稱','年月','營收發布日','以合併為主單月營收(千元)']]
update = update.set_axis(['st_code', 'st_name', 'rev_period', 'declaration_date', 'rev'], axis=1)

# update[['declaration_year', 'declaration_month', 'day']] = update['declaration_date'].astype(str).str.split('/', expand=True)
# update['declaration_month'] = update.declaration_month.astype(int).astype(str)
# update = update.drop('day', axis=1)
# update = update[(update.declaration_date != 'nan//') & 
#                 (update.declaration_year != 'nan')]

# 合併欄位及資料庫資訊
# order = db.columns.values.tolist()
# stock_info = db.loc[:, ['st_code', 'new_industry_name', 'minor_industry_name']].drop_duplicates(keep='first')
# update = pd.merge(update, stock_info, on=['st_code'], how='inner')
# update = update[order]
# latest = update.rev_period.head(1).values[0]
# update = update[~update.st_code.isin(db[db.rev_period == latest].st_code)]
# update.rev = round(update.rev/1000, 2)
update[update.st_code == '4712']
# db = pd.concat([db, update], axis=0)
# update.to_sql('tej_revenue', engine, if_exists='append')

     st_code st_name rev_period declaration_date  rev
1990    4712      南璋    2023/02       2023/03/10    0

In [194]:
predict_nxt_month

,st_code,st_name,rev_period,declaration_date,rev,declaration_year,declaration_month,new_industry_name,minor_industry_name,Year,month,mom,yoy
0,1101,台泥,2013/01,2013/02/18,9134.46,2013,2,M1100 水泥工業,M11A 水泥製造,2013,01,NaN,NaN
1,1101,台泥,2013/02,2013/03/08,5540.35,2013,3,M1100 水泥工業,M11A 水泥製造,2013,02,-0.3935,NaN
2,1101,台泥,2013/03,2013/04/10,9457.97,2013,4,M1100 水泥工業,M11A 水泥製造,2013,03,0.7071,NaN
3,1101,台泥,2013/04,2013/05/10,9919.27,2013,5,M1100 水泥工業,M11A 水泥製造,2013,04,0.0488,NaN
4,1101,台泥,2013/05,2013/06/10,9543.78,2013,6,M1100 水泥工業,M11A 水泥製造,2013,05,-0.0379,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195538,9962,有益,2022/10,2022/11/04,307.43,2022,11,M2000 鋼鐵工業,M20A6 不鏽鋼,2022,10,0.1633,0.1299
195539,9962,有益,2022/11,2022/12/07,308.66,2022,12,M2000 鋼鐵工業,M20A6 不鏽鋼,2022,11,0.0040,-0.0841
195540,9962,有益,2022/12,2023/01/09,385.67,2023,1,M2000 鋼鐵工業,M20A6 不鏽鋼,2022,12,0.2495,0.5687
195541,9962,有益,2023/01,2023/02/07,281.17,2023,2,M2000 鋼鐵工業,M20A6 不鏽鋼,2023,01,-0.2710,0.3300
195542,9962,有益,2023/02,2023/03/07,312.30,2023,3,M2000 鋼鐵工業,M20A6 不鏽鋼,2023,02,0.1107,0.2218